.frame {
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-color: #486077;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .masked {
        background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation: masked-animation 4s infinite linear;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-weight: bolder;
    }
}

@-webkit-keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.content {
    border: 1px solid red;
    height: 500px;
}

.head-nav {
    background: #fff;
}

.nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-bottom: 1px solid red;*/
    font-size: 15px;
    cursor: pointer;
    /*border-right: 1px solid #486077;*/
    overflow: hidden;
}
.nav:hover{
    color: #039be5;
}
.cur-nav{
     color: #039be5;
}
.icon {
    font-size: 30px !important;
    padding-right: 5px;
}
.cur-icon{
     color: #039be5;
}
.icon:hover{
    color: #039be5;
}
.activator{
    margin-top:10px;
}
.contact{
    height: auto;
    background: #fff;
}
.index-label{
    border-left: 3px solid #81cd5a;
    text-indent: 10px;
}
.input-box{
    margin-left: 20px !important;
}
.submit-btn{
    margin:0 0 20px 35px !important;
    
}
footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}